
/* Variables */
$white: #FFFFFF;
$yellow: #ffff00;
$orange: #ff9900;
$blue: #005EAE;


/* Global Styles */
@font-face {
   font-family: NeoSansIntel;
   src: url(../../fonts/NeoSansIntel-Medium.ttf) format('truetype');
}

h1{
	font-family:NeoSansIntel;
}

a {
	color: $orange;
}

a:hover {
	text-decoration: none;
}

footer a {
	color: $white;
}


/* Body */

.Title_Bar {
	background-image: url(../../img/Title-Bar.png);
    position: absolute;
	top: -21px;
	width: 974px;
	height: 74px;
	z-index: 2;
	color: #ffff00;
	text-align: center;
}

#Main{
	background-image: url(../../img/mainBG.jpg);
	position: absolute;
	top: 45px;
	width: 974px;
	height: 542px;
	z-index: 1;
}

.btnPrev, .btnNext{
  background: #718996;
  opacity: 0.4;
  position: absolute;
  top: 210px;
  width: 40px;
  height: 70px;
  z-index: 3;
}

.btnPrev {
  background-image: url(../../img/left-arrow.png);
  box-shadow: -2px 2px 2px 0px rgba(4,6,9,0.25);
  left: 209px;
}

.btnNext {
  background-image: url(../../img/right-arrow.png);
  box-shadow: 2px 2px 2px 0px rgba(4,6,9,0.25);
  left: 745px;  
}

#Thumbnail {
  background-image: url(../../img/Thumbnail-Bar.png);
  position: absolute;
  text-align: center;
  width: 974px;
  height: 123px;
  bottom: -48px;
  z-index: 3;
}
 
/* json */
#json-gallery .img-thumbnail {
  position: relative;
  width: 614px;
  height: 71px;
  z-index: 4;
}

.mainImage {  
  position: relative;
  left: 250px;
  top: 45px;  
  z-index: 3;
}

#fullimg{
  width: 493px;
  height: 400px;
}

.info{
  position: relative;
  justify-content: center; 
  z-index: 3;
}

.img-thumbnail ul{
    list-style-type: none;
    margin-top: 30px;
  }

 .img-thumbnail li {
    position: relative; !important; 
    width: 102px;
    height: 61px;
    display: inline;
    z-index: 5;
  }

  .img-thumbnail .selected {
    border: 1px solid grey;
  }